{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": "3",
        "targets": {
          "browsers": []
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-optional-chaining",
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": true
      }
    ]
  ]
}
